.modal-content {
  background: var(--light);
}

.modal-header,
.modal-body,
.modal-footer {
  border: none;
}

.btn-primary {
  background-color: var(--accent);

  &:hover {
    background-color: rgba($color: var(--accent), $alpha: 0.6);
  }
}

.add-input,
.add-input:focus {
  background: var(--light);
  color: var(--light-text);
}