@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "styles/modal.scss";
@import 'styles/sidebar.scss';
@import 'styles/header.scss';
@import 'styles/todolist.scss';

:root {
  --light: #2c2c38;
  --border: #343440;
  --dark: #21212d;
  --accent: #645fc6;

  --light-text: #fbfcff;
  --darken-text: #8b8e9d;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--dark);
  color: var(--light-text);
}

.btn-primary {
  background-color: var(--accent);
  border: none;

  &:hover {
    background-color: rgba($color: var(--accent), $alpha: 0.6);
  }
}